@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000; /*Preto*/
  --foreground: #ff9800; /*Laranja*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000; /*Já está preto*/
    --foreground: #ff9800; /*Çaranja*/
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .orange {
    color: var(--foreground); /*Aplica a cor laranja definida na variável*/
  }
}

/*Laranja: ff9800*/